html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-block: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 0;
    margin-bottom: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-page {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.heder-navigation {
    display: flex;

}

.logo {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding-block: 24px;
    margin-right: 76px;
}

.colorweb {
    color: #4d5ae5;

}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-lista {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-block: 24px;
}

.nav-lista:hover,
.nav-lista:focus {
    color: #404BBF;
}

.address-page {
    font-style: normal;
    margin-left: auto;

}

.address-list {
    font-weight: 400;
    font-size: 16px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;

}

.address-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.hero-section {
    padding-block: 188px;
}

.title-section {
    background-color: #2E2F42;

}

.container-main {

    padding-left: 15px;
    padding-right: 15px;
    margin-inline: auto;

}

.title-section-text {
    display: block;
    margin: 0 auto;
    max-width: 496px;
    margin-bottom: 48px;

}

.title-section-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

}

.btn {
    color: #ffffff;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    display: block;
    margin: 0 auto;
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

.features {
    padding-block: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-listt {
    display: flex;
    gap: 24px;
}

.our-features-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-features-text-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.list-features {
    width: calc((100% - 24px * 3)/4);
}


.our-team-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;


}

.our-team-job {
    list-style: none;
}

.our-team-job {
    display: flex;
    gap: 24px;
    padding-bottom: 120px;

}

.section-img {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;

}

.box-text-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

}

.teamcardsection {

    padding-left: 16px;
    padding-bottom: 32px;
    padding-right: 16px;
    padding-top: 32px;

}

.container-team {

.box-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    padding-top: 8px;

}

.our-team-section {
    background-color: #F4F4FD;
    padding-top: 120px;

}

.our-portfolio {
    background-color: #FFFFFF;
    padding-top: 120px;


}

.container-portfolio {
    padding-bottom: 120px;
}

.portfolio-list {

    width: calc((100% - 24px * 2)/3);

}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;

}

.fotocard {
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
    padding-right: 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;

}

.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;

}

/*.portfolio-img{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
list-style: none; 
}*/
.portfolio-title-h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;


}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;


}
}

.container-footer {

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding-block: 100px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;

}

.footer-text {
    display: block;
    max-width: 264px;
    padding-top: 16px;

}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
}